@model JavaExamFinal.Models.CaThi

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa thông tin Ca thi</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCaThi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaThiID" />
            <input type="hidden" asp-for="CaThiName" />
            <input type="hidden" asp-for="RegistedValue" />
            <input type="hidden" asp-for="Subject" />
            <div class="form-group">
                <label class="control-label">Khoá bảo mật:</label>
                <input type="password" required name="SecurityKey" placeholder="Nhập khoá bảo mật" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Số Sinh viên tối đa:</label>
                <input asp-for="MaxValue" class="form-control" />
                <span asp-validation-for="MaxValue" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="CaThi">Danh sách ca thi</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
