@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Nhập mã sinh viên và chọn học phần để xem thông tin đăng ký thi:</h1>
    
</div>
<hr/>
<div class="row">
    <h3 class="text-primary">@ViewBag.thongBao</h3>
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <label>Mã sinh viên:</label>
                    <input class="w3-input w3-border w3-round" required name="studentID" />
                </div>
                <div class="row">
                    <label>Chọn môn học:</label>
                    <select required class="form-select" name="subject">
                        <option value="THVPNC">Tin học Văn phòng Nâng cao</option>
                        <option value="QTDA">Quản trị dự án CNTT</option>
                        <option value="JavaOOP">Lập trình Hướng Đối tượng với Java</option>
                    </select>
                </div>
            </div>
            <br/>
        </div>
        <hr/>
        <div class="row form-group col-md-2">
            <input type="submit" value="Xem thông tin" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
