@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Sinh viên lựa chọn học phần trên Menu (giống như hình dưới đây) để đăng ký thi :</h3>
    <img class="border" src="~/Img/HuongDan.png" alt="Guide" style="max-height: 5em;">
</div>
<div>
    <h3 class="w3-text-blue">Chú ý: Sinh viên sử dụng email HUMG để truy cập vào dự thi => Bạn nào quên mật khẩu thì cần lấy lại trước ngày thi</h3>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
