@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Sinh viên lựa chọn học phần trên Menu (giống như hình dưới đây) để đăng ký thi :</h1>
    <img class="border" src="~/Img/HuongDan.png" alt="Guide" style="max-height: 5em;">
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
