<div class="row">
    <div class="col-md-4">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>Security Key:</label>
                <input type="password" name="checkKey" />
            </div>
            <div>
                <label>Upload file excel</label>
                <input name="file" type="file" class="form-control">
                <br />
            </div>
            <select name="Subject">
                <option value="THVPNC">Tin học Văn phòng Nâng cao</option>
                <option value="QTDA">Quản trị Dự án CNTT</option>
                <option value="TMDT">Thương mại Điện tử</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>
@ViewBag.mess
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}